/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
.main-container {
  font-size: 62.5%;
  margin: 0 auto;
  background-color: #5bdaeb;
}
.main-container h1 {
  font-size: 5rem;
}
.main-container h2 {
  font-size: 4rem;
}
@media (max-width: 500px) {
  .main-container h2 {
    font-size: 1.5rem;
  }
}
.main-container li {
  font-size: 2rem;
}
@media (max-width: 500px) {
  .main-container li {
    font-size: 1rem;
  }
}
.main-container header {
  width: 100%;
  padding: 5% 0;
  background-color: #242582;
}
.main-container header nav {
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.55rem;
  margin: 0px 20px 20px 20px;
  align-items: center;
}
@media (max-width: 500px) {
  .main-container header nav {
    flex-direction: column;
    border: 2px solid #EDF5E1;
    border-radius: 10px;
    padding: 2%;
  }
}
.main-container header nav a {
  text-decoration: none;
  color: #F64C72;
  padding: 5px 0px 5px 0px;
  align-self: center;
}
@media (max-width: 500px) {
  .main-container header nav a {
    border-bottom: 1px solid #EDF5E1;
  }
}
.main-container header nav a:hover {
  color: white;
  background-color: #555;
  padding: 5px 10px 5px 10px;
}
.main-container header nav a:first-child {
  margin-left: 0;
}
.main-container header nav a:last-child {
  margin-right: 0;
}
.main-container .top1 {
  width: 100%;
  background-color: #5bdaeb;
}
.main-container .top1 h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  color: #F64C72;
}
@media (max-width: 500px) {
  .main-container .top1 h1 {
    font-size: 4rem;
  }
}
.main-container .intro1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.main-container .intro1 .top2 {
  color: #EDF5E1;
}
.main-container .intro1 .skills {
  display: flex;
  flex-direction: column;
  color: #EDF5E1;
}
.main-container .intro1 h2 {
  margin: 5%;
}
.main-container .workhistory {
  width: 100%;
  color: #F64C72;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main-container .workhistory h4,
.main-container .workhistory h3 {
  font-size: 3rem;
}
@media (max-width: 500px) {
  .main-container .workhistory h4,
  .main-container .workhistory h3 {
    font-size: 1rem;
  }
}
.main-container .contact {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  justify-content: space-evenly;
  height: 20%;
  color: #F64C72;
  background-color: #242582;
}
.main-container .contact h2 {
  font-size: 3rem;
}
@media (max-width: 500px) {
  .main-container .contact h2 {
    font-size: 1rem;
  }
}
.main-container .contact li {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .main-container .contact li {
    font-size: 1rem;
  }
}
